<div class="app">
  <div class="row">
    <div class="col-md-1">
      <img src="img/logo.png" width="80" height="80" pull-left />
       <span class="app-title">Where is Daniel?</span>
    </div>
  </div>

  <div class="connection-status">
    <div id="deviceready" class="blink">
        <p class="event listening">Connecting to Device</p>
        <p class="event received">Connected</p>
    </div>
  </div>

  <div class="navigation-buttons">
	  <div class="btn-group">
	    <a href="#send" type="button" class="btn btn-primary btn-lg">Send</a>
	    <a href="#ask" type="button" class="btn btn-info btn-lg">Ask</a>
	  </div>
  </div>
	  
</div>
